<%= include_gon %>

<!DOCTYPE html>
<html>
  <head>
    <title>BannerPersonSkeleton</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
